<ul class="fa-ul">
	<li><span class="fa-li">{fa s, check-square}</span>List icons can</li>
	<li><span class="fa-li">{fa s, check-square}</span>be used to</li>
	<li><span class="fa-li">{fa s, spinner, pulse}</span>replace bullets</li>
	<li><span class="fa-li">{fa s, square}</span>in lists</li>
</ul>
