$primary-color: #fa2e1e;
$secondary-color: firebrick;

/* Navbar */
.navbar-inverse {
	background-color: $primary-color;
	border-color: $primary-color;
	
	& .navbar-nav {
		& > li > a {
			color: whitesmoke;
			
			&:focus, &:hover {
				background-color: whitesmoke;
				color: $secondary-color;
			}
			
			& > i {
				color: inherit;
			}
		}
		
		& > .active > a {
			background-color: $secondary-color;
			
			&:hover {
				background-color: whitesmoke;
				color: $secondary-color;
			}
		}
	}
}

.navbar-brand {
	color: ghostwhite!important;
}


/* Menu */
#menu {
	& a:hover, & li.active > a {
		background-color: $secondary-color;
		color: white;
	}
	
	& .panel-heading {
		&, & a {
			background-color: $primary-color;
			color: whitesmoke;
		}
		
		&.active, &.active > h4 > a {
			background-color: $secondary-color;
		}
	}
	
	& .panel, & .nav > li > a {
		border-color: $primary-color;
	}
}


/* Footer */
#footer {
	background-color: white;
}
