{layout $layoutFile}
{var $title="Forms"}

{block #content}
<h1 class="page-header">{$title}</h1>
<p>There are <a href="{$github}/tree/master/src/Forms">classes</a> which has some methods for Nette Forms.</p>
{/block}
