{layout $layoutFile}
{block title}Forms{/block}

{block #content}
<h1 n:tag-if="title" class="page-header">{include title}</h1>
<p>There are <a href="{$github}/tree/master/src/Forms">classes</a> which has some methods for Nette Forms.</p>
{/block}
