{define modules}
    <li id="fazette-fa"><a href="?t=fa">{fa b, font-awesome-flag} Fa macro</a></li>
    <li id="fazette-bootstrap"><a href="?t=bootstrap">{fa s, bold} Bootstrap renderer</a></li>
    <li id="fazette-forms"><a href="?t=forms">{fa list-ul} Forms</a></li>
{/define}
