{define modules}
	<li id="fazette-fa"><a href="index.php?t=fa">{fa b, font-awesome-flag} Fa macro</a></li>
	<li id="fazette-bootstrap"><a href="index.php?t=bootstrap">{fa s, bold} Bootstrap renderer</a></li>
	<li id="fazette-forms"><a href="index.php?t=forms">{fa list-ul} Forms</a></li>
{/define}
