.md-header {
	background-color: #fa2e1e!important;
}

@media only screen and (max-width: 76.1875em) {
	.md-nav--primary .md-nav__title--site, .md-nav__source {
		background-color: #fa2e1e!important;
	}
}

details.example {
	border-left-color: #fa2e1e!important;
}
details.example summary {
	background-color: snow!important;
}
details.example summary:before {
	color: #fa2e1e!important;
}
